@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
@*     <img src="/descarga.png" /> *@
    <h2 class="display-4">Universidad evangélica de El Salvador</h2>
    <p>PRUEBA TECNICA PARA SOPORTE DE APLICACIONES</p>
</div>
